<%= form_for @blog_post do |f| %>
<!--  form_for @item, url: dashboard_item_path(@item) do |f| -->
  <p>
    <%= f.label :title %>
    <%= f.text_area :title, size: "60x1"  %>
  </p>

  <p>
    <%= f.label :summary %>
    <%= f.text_area :summary, size: "60x1" %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content, size: "90x12" %>
  </p>

  <p>
    <%= f.label :published %>
    <%= f.date_field :published %>
  </p>

  <%= f.submit %>
<% end %>
